[package]
  description = "A bidirectional documentation and code synchronization tool."
  edition     = "2024"
  license     = "MIT"
  name        = "codetwin"
  repository  = "https://github.com/carlosferreyra/codetwin"
  version     = "0.1.0"

[dependencies]
  clap = { version = "4.5", features = ["derive"] }

[profile.release]
  opt-level = "z"
  strip     = true
