[package]
  categories    = ["command-line-utilities", "development-tools"]
  description   = "A bidirectional documentation and code synchronization tool."
  documentation = "https://docs.rs/codetwin"
  edition       = "2024"
  keywords      = ["architecture", "cli", "docs", "documentation", "sync"]
  license       = "MIT"
  name          = "codetwin"
  readme        = "README.md"
  repository    = "https://github.com/carlosferreyra/codetwin"
  version       = "0.1.0"

[dependencies]
  clap             = { version = "4.5", features = ["derive"] }
  toml             = "0.8"
  tree-sitter      = "0.24"
  tree-sitter-rust = "0.23"

[profile.release]
  opt-level = "z"
  strip     = true
