[package]
  categories    = ["command-line-utilities", "development-tools"]
  description   = "A code to diagram/documentation generator."
  documentation = "https://docs.rs/codetwin"
  edition       = "2021"
  keywords      = ["architecture", "cli", "docs", "documentation", "generator"]
  license       = "MIT"
  name          = "codetwin"
  readme        = "README.md"
  repository    = "https://github.com/carlosferreyra/codetwin"
  version       = "0.1.0"

[dependencies]
  anyhow                = "1.0"
  chrono                = "0.4"
  clap                  = { version = "4.5", features = ["derive"] }
  glob                  = "0.3"
  notify-debouncer-mini = "0.4"
  petgraph              = "0.6"
  rayon                 = "1.7"
  serde                 = { version = "1.0", features = ["derive"] }
  serde_json            = "1.0"
  toml                  = "0.8"
  tracing               = "0.1"
  tracing-subscriber    = { version = "0.3", features = ["env-filter"] }
  tree-sitter           = "0.24"
  tree-sitter-rust      = "0.23"
  walkdir               = "2.4"

[profile.release]
  opt-level = "z"
  strip     = true
