name: Changelog Lint

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  conventional-commits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Conventional commit check
        uses: cocogitto/cocogitto-action@v3
        with:
          check: true
